body {
    background-color: #eee;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    height: 300px;
    font-size: 50px;
    margin: 20px auto ;
    font-weight: bold;
}

content {
    background-color: red;
}