.app {
    background-color: #A5B6EE;
    height: 100vh;
    width: auto;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 72px;
}

.contents {}

footer {}

.timer-container{
    padding-top: 48px ;
}

.timer-box {
    width: 400px;
    height: 360px;
    top: 180px;
    left: 440px;
    border-radius: 16px;
    margin: 60px auto;
    background-color: #374B7C;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.timer-title{
    display: flex;
    justify-content: center;
    color: white;
    left: 50%;
    padding-bottom: 23px;
    
}

.time {
    display: flex;
    justify-content: space-around;
    color: white;
    padding-top: 32px;
}

.logo {
    width: 244px;
    height: 48px;
    top: 72px;
    left: 518px;
}